
body{
    font-family: 'Montserrat-Black', sans-serif;
    text-align: center;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
p{
    color: #8f8f8f;
}
/* heading */
.big-title{
    font-family: 'Montserrat-Black', sans-serif;
    font-size: 3.5rem;
    font-weight: 900;
    line-height: 1.5;
    color: white;  
}
.section-heading{
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 700;
}
.container-fluid{
    padding: 7% 15%;
}
/* navigation bar */
.navbar{
    padding: 0 0 4.5rem;

}
.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;

}
.nav-item{
    padding: 0 18px;   
}
.nave-link{
    font-family: "Montserrat";
    font-size: 1.2rem;
}
/* download button */
.download-button{
    margin: 5% 3% 5% 0;
}
/* sections */
.colored-section{
    background-color: #ff4c68;
    color: white;
}
.white-section{
    background-color: white;
}

/* title image */
/* #title{
    
} */
#title .container-fluid{
    padding: 3% 15% 7%;
    text-align: left;
}
.image-title{
    position: absolute;
    right: 30%;
    width: 60%;
    transform: rotate(25deg);
}
/* feature box */
#features{
    z-index:1;
    position: relative;
    background-color: white;
}
.feature-box{
    padding: 4%;
}
/* icon */
.icon{
   color: #ef8172;   
   margin: 1rem;
}

.icon:hover{
    color: #ff4c68;
}
.Features-title{
    font-size: 1.5rem;
    font-weight: 700;
}
/* Testimonials section */
#testimonials{
    background-color:#ef8172;
    color: white;
}
.testimonial-text{
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 700;


}

.testimonial-imge{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
#press{
    background-color:#ef8172;
    padding-bottom: 3%;

}
/* press */
.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}

/* pricing section */
#pricing{
    padding: 100px;
}
.pricing-colm{
    padding: 3% 2%;
}
.try{
    margin-top: 55px;
}
/* Call to Action */
/* #cta{
    
} */
/* .cta-heading{
    font-family: 'Montserrat-Black', sans-serif;
    font-size: 3.5rem;
    font-weight: 900;
    line-height: 1.5;
    color: white;  
} */
/* footer section */
/* #footer{
} */
.icon-foot{
margin:20px 10px;
}

@media (max-width:1028px){
.image-title{
position: static;
transform: rotate(0);
}
#tital{
    text-align: center;
}
}